/* Write your code here. */
.faq-container{

border: 1px solid #d7dae6;
    width: 100%;

}
.question-container{
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
